<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Game Details</ion-title>
    <ion-buttons slot="end">
    <ion-button shape="round" [routerLink]="['/']">
      <ion-icon slot="icon-only" name="home"></ion-icon> 
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size=12 size-md="8">
        <ion-card *ngIf="gameDetails">
          <img alt="Game Image" src={{gameDetails.background_image}} />
          <ion-card-header>
            <ion-card-title class="game-title">{{gameDetails.name}}</ion-card-title>
            <ion-card-subtitle>Released year: {{gameDetails.released | date:'yyyy'}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content [innerHTML]="gameDetails.description"></ion-card-content>
          <ion-button *ngIf="hasDeal" color="danger" class="size-btn"
            href="https://www.cheapshark.com/redirect?dealID={{arrayGames[index].cheapestDealID}}" target="_blank"
            shape="round">View Deal</ion-button>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="hasDlc">
    <ion-row class="ion-justify-content-center dlc-title" padding-bottom="20px">
      <ion-text >
        <h2>DLC's</h2>
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      @for(dlc of arrayDlc; track dlc){
        <ion-col class="dlc-col ion-text-center" size="12" size-md="3">
        <ion-card class="dlc-cards" [routerLink]="['/game-details-page', dlc.id, dlc.name]">
        <img alt="Game Image" src={{dlc.background_image}} />
        <ion-card-header>
            <ion-card-title class="dlc-game-title">{{dlc.name}}</ion-card-title>
          </ion-card-header>


        </ion-card>
        </ion-col>
      }
      
      
      
    </ion-row>
  </ion-grid>
</ion-content>
