<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row></ion-row>
    <ion-row>
      @for(game of games; track game.id){
      <ion-col size='12' size-lg="3" size-md="4">
        <ion-card color="warning" [routerLink]="['/game-details-page', game.id, game.name]">
          <div class="img-container">
            <img alt="Poster of game" src={{game.background_image}} width="300px" height="200px" />
          </div>

          <ion-card-header>
            <ion-card-title>{{game.name}}</ion-card-title>
          </ion-card-header>


        </ion-card>
      </ion-col>
      }
    </ion-row>
    <ion-row class="ion-padding-top ion-padding-bottom ion-justify-content-between">
      <ion-button class="size-btn" (click)="onPrevButton()" shape="round">Previous</ion-button>
      <ion-button class="size-btn" (click)="onNextButton()" shape="round">Next</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>