<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourite-page']" shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button (click)="goFirstPage()" shape="round">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-searchbar show-clear-button="focus" placeholder="Search" [debounce]="500"
        (ionInput)="searchGames($event)"></ion-searchbar>
    </ion-row>
    <ion-row>
      @for(game of games; track game.id){
      <ion-col size='12' size-lg="3" size-md="4">
        <ion-card color="warning">
          <ion-row [routerLink]="['/game-details-page', game.id, game.name]">
            <div class="img-container">
              <img alt="Poster of game" src={{game.background_image}} width="300px" height="200px" />
            </div>
          </ion-row>
          <ion-row>
            <ion-card-header>
              <ion-card-title class="game-title">{{game.name}}</ion-card-title>
            </ion-card-header>
          </ion-row>
          <ion-row class="ion-justify-content-end">
            <ion-button *ngIf="game.hasGameDeal" fill="clear">
              <ion-icon slot="icon-only" name="pricetag" color="secondary"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="favouriteClicked($event, game)">
              <ion-icon class="favBtn" slot="icon-only" name="heart" size="large"
                [color]="game.isFav ? 'danger' : 'light'"></ion-icon>
            </ion-button>
          </ion-row>


        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="size-btn" shape="round" (click)="onPrevButton()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Previous
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="size-btn" shape="round" (click)="onNextButton()">
      Next
      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-button>
  </ion-buttons>
</ion-toolbar>