#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card img{
  width: 90%;
  height: 200px;
  align-content: center;
}

ion-card-title {
  height: 50px;
}

ion-row[routerLink] {
  cursor: pointer ;
  transition: opacity 0.2s;
}

.img-container {
  display: flex;
  justify-content: center;   
  margin-top: 5px;
  cursor: pointer;   
  max-width: 400px;
}

.size-btn {
  width: 150px;
}

.game-title{
    font-size: clamp(24px, 5vw, 26px);

}



.favBtn {
  margin-bottom: 10px;
  margin-right: 10px;
}